{% extends "layout.html" %}
{% block title %}Configuration{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/configuration.css') }}">
<script src="{{ url_for('static', filename='script/configuration.js') }}"></script>
{% endblock %}
{% block content %}
<div class="config-option">
    <a onclick="displayConfigForm('iot')">
        IoT
    </a>
    <a onclick="displayConfigForm('entity')">
        Entity
    </a>
</div>

<div>
    <h1 id="configTitle">IoT Config</h1>
    <select id="selectConfig">
    </select>
    <form id="configForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description">

        <label for="location">Location:</label>
        <input type="text" id="location" name="location">

        <label for="connectionType">Connection Type:</label>
        <select id="connectionType" name="connectionType" required>
            <option value="opc">OPC</option>
            <option value="mqtt">MQTT</option>
        </select>

        <label for="voltageRating">Voltage Rating (V):</label>
        <input type="number" id="voltageRating" name="voltageRating">
        <label for="currentRating">Current Rating (A):</label>
        <input type="number" id="currentRating" name="currentRating">

        <label for="highLowVoltage">Monitor Voltage:</label>
        <input type="checkbox" id="highLowVoltage" name="highLowVoltage">
        <label for="overCurrent">Monitor Current:</label>
        <input type="checkbox" id="overCurrent" name="overCurrent">
        <label for="powerOutage">Monitor Power:</label>
        <input type="checkbox" id="powerOutage" name="powerOutage">


        <button type="button" onclick="addDevice()">Add Device</button>
    </form>
    <div id="response"></div>
</div>
{% endblock %}