{% extends "layout.html" %}
{% block title %}Devices{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/device.css') }}">
<script src="{{ url_for('static', filename='script/device.js') }}"></script>
{% endblock %}
{% block content %}
<h1>Add New Device</h1>
    <form id="deviceForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description">

        <label for="connectionType">Connection Type:</label>
        <select id="connectionType" name="connectionType" required>
            <option value="opc">OPC</option>
            <option value="mqtt">MQTT</option>
        </select>

        <label for="location">Location:</label>
        <input type="text" id="location" name="location">

        <label for="voltageRating">Voltage Rating (V):</label>
        <input type="number" id="voltageRating" name="voltageRating">
        <label for="currentRating">Current Rating (A):</label>
        <input type="number" id="currentRating" name="currentRating">

        <label for="highLowVoltage">Monitor Voltage:</label>
        <input type="checkbox" id="highLowVoltage" name="highLowVoltage">
        <label for="overCurrent">Monitor Current:</label>
        <input type="checkbox" id="overCurrent" name="overCurrent">
        <label for="powerOutage">Monitor Power:</label>
        <input type="checkbox" id="powerOutage" name="powerOutage">


        <button type="button" onclick="addDevice()">Add Device</button>
    </form>

    <div id="response"></div>
{% endblock %}