{% extends "layout.html" %}
{% block title %}Live Data{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/graphs.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@3"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1"></script>
<script src="{{ url_for('static', filename='script/graph.js') }}"></script>
<script src="{{ url_for('static', filename='script/websocket.js') }}" defer></script>
<script src="{{ url_for('static', filename='script/live.js') }}" defer></script>
{% endblock %}
{% block content %}
<div style="text-align: center;">
    <select id="iot-select">
        <option value="empty">Select IoT</option>
    </select>
</div>

<div id="iot-charts">
    <div class="no-iot">
        No IoT selected
    </div>
</div>
{% endblock %}