* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s ease;
}

:root {
    --background: #ffffff;
    --foreground: whitesmoke;
    --text: #171717;
    --input: white;
    --buttonhover: #ddd;
    --highlight: #8be08e;
    --highlighthover: #75dd78;
}


@media (prefers-color-scheme: dark) {
    :root {
        --background: #121212;
        --foreground: #333333;
        --text: whitesmoke;
        --input: #222222;
        --buttonhover: #444444;
        --highlight: #8be08e;
        --highlighthover: #75dd78;
    }
}

.hidden {
    display: none;
}

body {
    color: var(--text);
    background-color: var(--background);
}

#content {
    height: calc(98vh - 85px);
}
#footer {
    padding: 5px;
    height: 1vh;
}