{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='script/graph.js') }}"></script>
<script src="{{ url_for('static', filename='script/websocket.js') }}" defer></script>
{% endblock %}
{% block content %}
    <h1>Flask-SocketIO Example</h1>
    <div class="graphs">
        <canvas id="ampsChart"></canvas>
        <canvas id="voltsChart"></canvas>
    </div>

    <ul id="messages"></ul>
{% endblock %}