{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/graphs.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='script/graph.js') }}"></script>
<script src="{{ url_for('static', filename='script/websocket.js') }}" defer></script>
{% endblock %}
{% block content %}
    <div class="graphs">
        <div class="graph-container">
            <canvas id="ampsChart"></canvas>
        </div>
        <div class="graph-container">
            <canvas id="voltsChart"></canvas>
        </div>
    </div>

    <ul id="messages" style="max-height: 100px; overflow-y: scroll;"></ul>
{% endblock %}