#charts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#charts div {
    display: flex;
}
#charts div .graph-container {
    flex: 1;
    height: 300px;
    margin: 20px auto; 
    border: 1px solid #ccc;
    box-sizing: border-box;
}